.lista{
  background-color:darkslategrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
}
.inicio{
  color: white;
  text-decoration: none;
  margin-top:1%;
  margin-left: 5%;
  font-size: 26px;
 
}






